@{
    ViewData["Title"] = "Privacy Policy";
    // Layout = "_Layout2";
}


<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

Algo más
@{
    int numero = 2 + 2;


    <p>@numero</p>
}

