<!DOCTYPE html>
<html lang="en">
<body>

    <div class="container">
        <main role="main" class="pb-3" style="background-color:blue" >
            
            @RenderBody()
            
        </main>
    </div>


</body>
</html>
